body {
  background-color: #343a40;
}

a {
  color: #fff;
}

a:hover {
  color: #ddd;
  text-decoration: none;
}

p {
  color: #fff;
}

.content-width {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.result {
  padding: 60px 20px 20px;
}

.result a {
  color: #343a40;
}

@media screen and (min-width:576px) {
  .row {
    margin-bottom: 30px;
  }

  #page-top {
    display: none;
  }
}


.submit-color {
  background-color: #17a2b8;
  color: white;
  margin: 0 auto;
  opacity: 0.9;
  transition: all 0.4s;
}

.submit-color:hover {
  opacity: 1.0;
}

.submit-center {
  margin-top: 30px;
  text-align: center;
}

footer {
  background-color: #343a40;
  text-align: center;
}

.card {
  border-radius: 0;
}

#page-top {
  background-color: #ffa500;
  border-radius: 50%;
  bottom: 20px;
  height: 40px;
  line-height: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
}

#page-top a {
  border-radius: 50%;
  display: inline-block;
  height: 100%;
  width: 100%;
}
